<section>
  <!--<h2>Stats</h2>-->
  <div class="content">
    <svg viewBox="0 0 64 64">
      <circle *ngFor="let user of users" r="16" cx="32" cy="32" [style.transform]="getDonutRotation(user)"  [style.stroke-dasharray]="getPercent(user)+', 100'"
      />
      <circle *ngIf="!(totals['all'] > 0)" r="16" cx="32" cy="32" />
    </svg>
    <div class="user" *ngFor="let user of users">
      <h3 class="name">{{user}}</h3>
      <h3 class="total">{{totals[user]}}</h3>
    </div>
  </div>
</section>