@import '../../styles.scss';

header {
    background-color: $backgroundColor;
    background-image: url('../../assets/images/pattern-dots-tiny.svg');
    background-size: 5px;
    background-repeat: repeat;
    text-align: center;
    width: 100%;
    height: 5em;
    position: fixed;
    top: 0;
    z-index: 99;
    border-bottom: 0.1em solid $firstColor;
}

h1 {
    font-family: Monoton;
    font-weight: 100;
    font-size: 3em;
    margin: 0.1em 0;
    color: $firstColor;
}