@import '../../styles.scss';

footer {
    background-color: $backgroundColor;
    background-image: url('../../assets/images/pattern-dots-tiny.svg');
    background-size: 5px;
    background-repeat: repeat;
    color: $firstColor;
    text-align: center;
    padding: 0.7em 0;
    border-top: 0.1em solid $firstColor;
    height: 3vh;
}

strong {
    color: rgb(230, 52, 52);
}

h3 {
    margin: 0;
    font-size: 1em;
}