<section>
  <svg xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 48 48">
    <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.3" fill="none">
      <path stroke-width="1.7" d="m43 24a19 19 0 0 1 -12 17 19 19 0 0 1 -20 -4 19 19 0 0 1 -4.3 -20 19 19 0 0 1 17 -12">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 24 24" to="360 24 24" dur="1.4s" repeatCount="indefinite"
        />
      </path>
      <path stroke-width="1.7" d="m40 24a16 16 0 0 1 -10 14 16 16 0 0 1 -17 -3 16 16 0 0 1 -3.2 -17 16 16 0 0 1 14 -9.5">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 24 24" to="360 24 24" dur="2.6s" repeatCount="indefinite"
        />
      </path>
      <path stroke-width="1.7" d="m36 24a12 12 0 0 1 -7 11 12 12 0 0 1 -14 -2 12 12 0 0 1 -2 -14 12 12 0 0 1 11 -7">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 24 24" to="360 24 24" dur="0.8s" repeatCount="indefinite"
        />
      </path>
      <path stroke-width="1.7" d="m33 24a9.1 9.1 0 0 1 -5.7 8.5 9.1 9.1 0 0 1 -10 -2.1 9.1 9.1 0 0 1 -1.9 -10 9.1 9.1 0 0 1 8.6 -5.5">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 24 24" to="360 24 24" dur="1.2s" repeatCount="indefinite"
        />
      </path>
    </g>
  </svg>
</section>